<!DOCTYPE html>

<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Plasma Donation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />


	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="favicon.ico">


	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">

	<link rel="stylesheet" href="css/style.css">



	<script src="js/modernizr-2.6.2.min.js"></script>


</head>

<body>
	<div id="page-wrap">
		<div id="page">
			<header id="page-header-section" class="sticky-banner">
				<div class="container">
					<div class="nav-header">
						<img src="images/logo4.jpg" style="width:9%;padding:3px; height:9%;padding-top:8px;margin-left:-320px;float:left">
					

						<h1 id="logo"><a href="/">Helping Hands for Donors</a></h1>
						<!-- START menu bar -->
						<nav id="menu-bar" role="navigation">
							<ul class="sf-menu" id="primary-menu">
								<li class="active">
									<a href="/" class="active active-first">Home</a>
								</li>
								<li><a href="/blog">What is Covid-19</a></li>
								<li>
									<a  class="fh5co-sub-ddown">Services</a>
									<ul class="sub-menu">
										<li><a href="/donor">Register as a Donor</a></li>
										<li><a href="/patient">Register as a Patient</a></li>
										<li><a href="/contribute">Contribute</a></li>
									</ul>
								</li>
								<li><a href="/faq">Help</a></li>
								<li><a href="/about">AboutUs</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>



			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
					<div class="desc animate-box">
						<h2 style="font-size:40px;width:80%;text-align:center;padding-left:20%"><strong> </strong>network of plasma across India for the recovery of COVID-19 patients </h2>
						<span>Saving a soul is the best joy :)</span>
						<span><a class="btn btn-primary btn-lg" href="/loginL">Already a Donor? Login</a></a></span>
					</div>
				</div>

			</div>
			<!-- end:header-top -->
			<div id="fh5co-features">
				<div class="container">
					<div class="row">
						<div class="col-md-4">

							<div class="feature-left">
								<span class="icon">
									<i class="icon-profile-male"></i>
								</span>
								<div class="feature-copy">
									<h3>Register as a Donor</h3>
									<p><strong>Keep up the good and important work. Your efforts are much appreciated.</strong><br>We promise to get your plasma matched with a patient in need.</p>
									<p><a href="/donor">Click here to be Donor</a></p>
								</div>
							</div>

						</div>

						<div class="col-md-4">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-profile-male"></i>
								</span>
								<div class="feature-copy">
									<h3>Register as a Patient</h3>
									<p><strong>Keep fighting hard like the warriors!</strong> <br>
										We’re working our hardest to get you the plasma you need</p>
									<p><a href="/patient">Click here to be Register</a></p>
								</div>
							</div>

						</div>
						<div class="col-md-4">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-happy"></i>
								</span>
								<div class="feature-copy">
									<h3>Happy Giving : Donate Funds</h3>
									<p><strong>Financial Support can save lives</strong> <br>Come forward and donate funds to hospitals and plasma Center</p>
									<p><a href="/contribute">Click here to be Contribute</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-content-section" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>HOW IT WORKS!</h3>

						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="fh5co-testimonial text-center animate-box">
								<figure>
									<img src="images/f2.jpg" alt="user">
								</figure>
								<blockquote>
									<p>&ldquo;Fill in your contact details, location, blood group and medical history so that we can find you an accurate match within your <strong>District.</strong>&rdquo;</p>
								</blockquote>
								<span style="font-weight:900;color: #009999">Step - 1</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-testimonial text-center animate-box">
								<figure>
									<img src="images/mat.jpg" alt="user">
								</figure>
								<blockquote>
									<p>&ldquo;Our algorithm matches registered patients and donors within the distric of patient.Once patient found a successful match,he/she will send a <strong>request</strong> to the donors for getting the details of Donor. &rdquo;
									</p>
								</blockquote>
								<span style="font-weight:900;color: #009999">Step - 2</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="fh5co-testimonial text-center animate-box">
								<figure>
									<img src="images/connec.jpg" alt="user">
								</figure>
								<blockquote>
									<p>&ldquo;As soon as the Donor accepts the request, we provide the patient with the donor's details to enable them to connect and take the process forward&rdquo;</p>
								</blockquote>
								<span style="font-weight:900;color: #009999">Step - 3</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-services-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Our Impact</h3>
							<p> This site connects current COVID patients with recovered COVID patients who wish to donate plasma.</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row text-center">
						<div class="col-md-4 col-sm-4">
							<div class="services animate-box">

								<h4><%=count%></h4>
								<h3>Donors</h3>
								<p>Number of donors registerd </p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="services animate-box">
								<!-- <span><i class="icon-heart"></i></span> -->
								<h4><%=count1%></h4>
								<h3>Patients</h3>
								<p>Number of Recievers registerd</p>
							</div>
						</div>


						<div class="col-md-4 col-sm-4">
							<div class="services animate-box">
								<h4><%=count2%></h4>
								<h3>Lives Saved</h3>
								<p>Number Of transaction happened between donors and patients </p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- END What we do -->



			<div id="fh5co-feature-product" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center heading-section">
							<h3>Everyone may become a savior.</h3>
							<p> You have the power to save a life. A single plasma donation can save upto two lives.</p>
						</div>
					</div>

					<div class="row row-bottom-padded-md">
						<div class="col-md-6 text-center animate-box">
							<p><img src="images/z.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="width:85%;height:300px"></p>
						</div>
						<div class="col-md-6 text-center animate-box">
							<p><img src="images/z1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="width:85%;height:300px"></p>
						</div>
						<div class="col-md-6 text-center animate-box">
							<p><img src="images/z2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="width:85%;height:300px"></p>
						</div>
						<div class="col-md-6 text-center animate-box">
							<p><img src="images/z5.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="width:85%;height:300px"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" >
							<div class="feature-text text-right">
								<h3>Love</h3>

							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-text  text-center">
								<h3>Compassion</h3>

							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-text  text-left">
								<h3>Humanity</h3>

							</div>
						</div>
					</div>


				</div>
			</div>
			<div id="fh5co-blog-section" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Recent Blogs</h3>

						</div>
					</div>
				</div>
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">
								<a href="#"><img class="img-responsive" src="images/s.jpg" alt=""></a>
								<div class="blog-text">
									<div class="prod-title">
										<h3><a href="https://www.devdiscourse.com/article/sports-games/1547582-sachin-tendulkar-recovers-from-covid-19-to-donate-plasma">Sachin Tendulkar recovers from COVID-19, to donate plasma</a></h3>
										<span class="posted_by">April. 24th</span>
										<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
										<p>''I would like to give a message, which the doctors have told me to give. Last year, I had inaugurated a plasma donation centre and their message, if plasma is given at the right time, patients can recover faster,'' Tendulkar
											said in a video posted on his twitter handle.</p>
										<p><a href="https://www.devdiscourse.com/article/sports-games/1547582-sachin-tendulkar-recovers-from-covid-19-to-donate-plasma">Learn More...</a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">
								<a href="#"><img class="img-responsive" src="images/k.jpg" alt=""></a>
								<div class="blog-text">
									<div class="prod-title">
										<h3><a href="https://www.wefornews.com/kejriwal-appeals-for-plasma-donation/">Kejriwal appeals for Plasma Donation for treating COVID-19 patients</a></h3>
										<span class="posted_by">April. 13th</span>
										<p>New Delhi, Apr 13 : Delhi Chief Minister Arvind Kejriwal Tuesday said very less plasma is available in stock for treating COVID-19 patients and appealed to those who have recovered from the disease to actively donate it.</p>
										<p><a href="https://www.wefornews.com/kejriwal-appeals-for-plasma-donation/">Learn More...</a></p>
										<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">
								<a href="#"><img class="img-responsive" src="images/s1.jpg" alt=""></a>
								<div class="blog-text">
									<div class="prod-title">

										<h3><a href="https://indianexpress.com/article/cities/delhi/motivate-staff-to-donate-plasma-save-lives-delhi-police-commissioner-to-dcps-7285624/">Motivate staff to donate plasma, save lives: Delhi Police Commissioner</a>
										</h3>
										<span class="posted_by">April. 23rd</span>
										<p>Delhi Police Commissioner S N Shrivastava has directed all Deputy Commissioners of Police (DCPs) of districts and units to motivate those police personnel who have recovered from Covid-19 to donate their plasma for needy
											patients.</p>

										<p><a href="https://indianexpress.com/article/cities/delhi/motivate-staff-to-donate-plasma-save-lives-delhi-police-commissioner-to-dcps-7285624/">Learn More...</a></p>
											<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="clearfix visible-sm-block"></div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">
								<a href="#"><img class="img-responsive" src="images/p.jpg" alt=""></a>
								<div class="blog-text">
									<div class="prod-title">
										<h3><a href="https://indianexpress.com/article/cities/delhi/motivate-staff-to-donate-plasma-save-lives-delhi-police-commissioner-to-dcps-7285624/">Motivate staff to donate plasma, save lives: Delhi Police Commissioner to DCPs</a>
										</h3>
										<span class="posted_by">April. 23rd</span>

										<p>Delhi Police Commissioner S N Shrivastava has directed all Deputy Commissioners of Police (DCPs) of districts and units to motivate those police personnel who have recovered from Covid-19 to donate their plasma for needy
											patients.</p>

										<p><a href="https://indianexpress.com/article/cities/delhi/motivate-staff-to-donate-plasma-save-lives-delhi-police-commissioner-to-dcps-7285624/">Learn More...</a></p>
											<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix visible-md-block"></div>
					</div> -->

					<div class="row">
						<div class="col-md-4 col-md-offset-4 text-center animate-box">
							<a href="/blog" class="btn btn-primary btn-lg">Our Blog</a>
						</div>
					</div>

				</div>
			</div>
			<!-- fh5co-blog-section -->
			<footer style="margin-bottom:-100px">
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center">
								<p class="fh5co-social-icons">
									<a href="#"><i class="icon-twitter2"></i></a>
									<a href="#"><i class="icon-facebook2"></i></a>
									<a href="#"><i class="icon-instagram"></i></a>
									<a href="#"><i class="icon-dribbble2"></i></a>
									<a href="#"><i class="icon-youtube"></i></a>
								</p>

							</div>
						</div>
					</div>
				</div>
			</footer>


		</div>
		<!-- END page -->

	</div>
	<!-- END page-wrap -->

	<!-- jQuery -->


	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/sticky.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>

	<!-- Main JS -->
	<script src="js/main.js"></script>

</body>

</html>
