<!doctype html>
<html>
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="login/css/style.css">

	</head>
	<body>
	<section style="padding-top: 130px;">
		<div class="container" style="width: 100%;">
			<div class="row justify-content-center">

			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div style=" background: linear-gradient(to right, #ff9966 0%, #ff0000 100%);" class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to login</h2>

							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4 row justify-content-center" ><strong>Sign In</strong></h3>
			      		</div>

			      	</div>
							<form action="/loginL" method="post" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Phone no.</label>
			      			<input type="number"  class="form-control" name="phone" placeholder="Your Phone number" autocomplete="off" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password -DOB[YYYY-MM-DD] </label>
		              <input type="password"  class="form-control"  name ="birthday" placeholder="Date of Birth " autocomplete="new-password" required>
		            </div>
		            <div class="form-group">
                  <p><%= login_title1 %></p>
		            	<button style="   background: linear-gradient(to left, #ff9966 0%, #ff3300 100%);" type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>

		            </div>

		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="login/js/jquery.min.js"></script>
  <script src="login/js/popper.js"></script>
  <script src="login/js/bootstrap.min.js"></script>
  <script src="login/js/main.js"></script>

	</body>
</html>
